
@import './variables.css';

html {
	font-size: 12px;
}

html,
body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background: var(--background-body);
	color: var(--color-text);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: var(--font-md);
}

a {
	color: var(--color-link);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: var(--color-link);
}

dialog::backdrop {
	background: var(--background-body);
	color: var(--color-text);
  background: rgba(0, 0, 0, 0.5);
}

.wrapper {
	width: 1200px;
	max-width: 100%;
	margin: 0 auto;

}